* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
}

.header {
    background-color: #FDE600;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

.logo {
    height: 84px;
    margin-bottom: 10px;
}

.search-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.search-input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    height: 34px;
}

.search-btn {
    background-color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    padding: 10px 20px;
    height: 34px;
}

.search-btn:hover {
    background-color: #f0f0f0;
}

.main {
    padding: 30px 0;
}

.section-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

@media (max-width: 768px) {
    .products-grid {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}

.product-card {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.product-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 15px;
    border-radius: 8px;
}

.product-title {
    font-size: 16px;
    margin-bottom: 10px;
    height: 40px;
    overflow: hidden;
}

.product-price {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.product-discount {
    font-size: 14px;
    color: #027900;
    font-weight: bold;
}

.hero {
    background-image: url("https://http2.mlstatic.com/D_NQ_963172-MLA97798572334_112025-OO.webp");
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: #fff;
    text-align: center;
    padding-bottom: 50px;
    position: relative;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 24px;
}

.footer {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
    border-top: 2px solid #FDE600;
}

.footer p{
    color: #777;
    font-size: 14px;
}